<div id="BioBody" style="top: 150px;">
  <p style="font-size: 14px;">The Ezer Swing Five presents a night of live jazz for swing dancers at <a href="http://www.biervana.com">BierVana</a> in Akasaka on Monday, July 16, a public holiday!</p>

  <p style="font-size: 14px;">BierVana has...
    <ul style="font-size: 14px;">
      <li>108 different types of beer from around the world.</li>
      <li>Delicious food.</li>
      <li>A great dance floor.</li>
    </ul>
  </p>
  <p style="font-size: 14px;">Special Guests Tadashi Yanoo & Yuko Sumi from Aozora Romance Band.</p>
  <p style="font-size: 14px;">We'll play 3 sets between 7pm - 10:30pm. Beginner Lesson after the 1st set. Come ask us.</p>

  <p style="font-size: 14px;">Cost: Y1500.</p>

  <p style="font-size: 14px;">Enjoy BierVana's dinner menu & Carvery between sets!</p>
  <p  style="font-size: 14px;">
    <ul style="font-size: 14px;">
      <li>Mike Zachernuk - trumpet</li>
      <li>Paul Dwyer - bass</li>
      <li>Jun Satsuma - guitar</li>
      <li>Isaac Ezer - piano</li>
    </ul>
  </p>
  <p style="font-size: 14px;"><a href="http://www.biervana.com/access">Map</a></p>
  <p style="font-size: 14px;">Hope to see you there!</p>

</div>
