   <p style="font-size: 14px;">赤坂は<a href="http://www.biervana.com">BierVana</a>にて、<br>
イザー スイング ファイブが皆様にジャズ ナイトをご提供！！</p>

<p style="font-size: 14px;">BierVana では。。。
<ul>
<li>世界中から集めた、108種に及ぶビールをご用意。</li>
<li>美味しい料理。</li>
<li>そしてもちろん、すばらしいダンスフロアも！！</li>
</ul>
</p>
<p style="font-size: 14px;">ゲスト：青空ロマンス楽団の矢野忠と角裕子</p>
<p style="font-size: 14px;">６月２３日土曜日、演奏は7pmから10:30pmの間に三回予定。初心者のためのダンス　レッスン付。</p>
<p style="font-size: 14px;"><a href="http://www.biervana.com/access">アクセス</a></p>
<p style="font-size: 14px;">入場料：1,500円。
（ディナー料金は含まれておりません）</p>

<p style="font-size: 14px;">演奏の合間に、BierVana自慢の料理をお試し頂くのはいかが？!</p>
<p  style="font-size: 14px;">
<ul>
<li>Mike Zachernuk - trumpet</li>
<li>Paul Dwyer - bass</li>
<li>山口新語 - drums</li>
<li>Isaac Ezer - piano</li>
</ul>
</p>
<p style="font-size: 14px;">お待ちしております</p>

</div>
