<div id="ClipsBody">
  <div align="right">
    <h2><%= t '.headline' %></h2>
  </div>
</div>

<div id="VideoPlayer"><img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://counters.gigya.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEyNTM3MzY*OTMwMjMmcHQ9MTI1MzczNjUyOTQ5NCZwPTI3MDgxJmQ9dmlkZW9fZ2FsbGVyeV93aWRnZXRfZmlyc3RfZ2VuJmc9MSZvPTYxYWYyODNiYjZlOTQzYjc4Y2I5ZTgwMDE3MGJmNTE1Jm9mPTA=.gif" />
    <embed type="application/x-shockwave-flash" src="http://cache.reverbnation.com/widgets/swf/33/video_gallery_widget.swf?page_object_id=artist_471340&id=artist_471340&backgroundcolor=EEEEEE&font_color=000000&autoPlay=false" height="374" width="332" />    
  <br/>
  <a href="http://www.reverbnation.com/main/artist_feature/widgets"><img alt="Isaac%20Ezer" border="0" height="19" src="http://cache.reverbnation.com/widgets/content/33/footer.png" width="332" /></a><br/>
<img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://www.reverbnation.com/widgets/trk/33/artist_471340//t.gif"/><a href="http://www.quantcast.com/p-05---xoNhTXVc" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-05---xoNhTXVc.gif" style="display: none" border="0" height="1" width="1" alt="Quantcast"/></a>
</div>

<div id="AudioPlayer"><img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://counters.gigya.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEyNTM3MzY2ODk1NTYmcHQ9MTI1MzczNjY5NDg2NyZwPTI3MDgxJmQ9YmxvZ19wbGF5ZXJfZmlyc3RfZ2VuJmc9MSZvPTYxYWYyODNiYjZlOTQzYjc4Y2I5ZTgwMDE3MGJmNTE1Jm9mPTA=.gif" />
<embed type="application/x-shockwave-flash" src="http://cache.reverbnation.com/widgets/swf/28/blog_player.swf?emailPlaylist=artist_471340&backgroundcolor=EEEEEE&font_color=000000&shuffle=&autoPlay=false" height="300" width="180"/><br/><a href="http://www.reverbnation.com/c./a4/28/471340/Artist/0/User/link"><img alt="Isaac%20Ezer" border="0" height="12" src="http://cache.reverbnation.com/widgets/content/28/footer.png" width="180" /></a><br/><img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://www.reverbnation.com/widgets/trk/28/artist_471340//t.gif"/><a href="http://www.quantcast.com/p-05---xoNhTXVc" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-05---xoNhTXVc.gif" style="display: none" border="0" height="1" width="1" alt="Quantcast"/></a>
</div>