<div id="BioBody" style="top: 120px;">
  <p style="font-size: 14px;">The Ezer Swing Five presents a night of live jazz at <a href="http://www.fiatcaffe.jp">FIAT SPACE</a> in Aoyama 1-Chome on Monday, Nov 19. Dancers and non-dancers a like come and enjoy the great atmosphere, people and drinks to relieve your stress on a weekday.</p>

  <%= image_tag 'band-swing-fever.jpg', :width => '350' %>

  <p style="font-size: 14px;">Doors open at 7:30pm We'll play 3 sets between 8pm - 11pm. Beginner Lesson after the 1st set, at 9pm.</p>

  <p style="font-size: 14px;">Cost: Y1500.
  </p>

  <p  style="font-size: 14px;">
    <ul style="font-size: 14px;">
      <li>Mike Zachernuk - trumpet</li>
      <li>Paul Dwyer - bass</li>
      <li>Yusuke Toyama - drums</li>
      <li>Isaac Ezer - piano</li>
    </ul>
  </p>

</div>
