<div id="NewGig"> 
	<h3>
		<%= render :partial => "event_summary", :locals => {:event => @next_event } %>
	</h3> 
</div>
<div id="BioHeader">
	<h2>Check out video of us playing for the<br>2011 <a href="http://www.youtube.com/CampSwingIt#p/u/14/8GsDwP8kpEI">Korean Lindy Hop Championships</a></h2>
</div>
<div id="BioBody">
	<p class="style2">Isaac Ezer is a jazz pianist, swing dancer, and software designer living in Tokyo.</p>
	<p>He's taught <a href="http://en.wikipedia.org/wiki/Stride_piano">stride piano</a> to students in Nepal, <a href="http://en.wikipedia.org/wiki/Lindyhop">lindyhop</a> to dancers in Bali, and once jumped off a <a href="http://www.youtube.com/watch?v=bAVA8xg6qTE">168m bridge.</a>
	</p>
	<p>His passion is playing music for swing
		dancers, as he's done in Toronto, Tokyo, Beijing, <a href="http://mechakuchaswing.main.jp/ole_2011/OLE2011.html">Osaka Lindy Exchange</a>, <a href="http://www.herrang.com">Herrang Dance Camp</a> in Sweden, <a href="http://www.campswingit.com">Camp Swing It</a> in Seoul, Korea, and <a href="http://www.hkswingfestival.com">Hong Kong Swing Festival</a>.
	</p>
	<p>Isaac works closely with <a href="http://www.dancingbus.com">Dancing Bus</a> to promote swing dancing.
	</p>
	<p>Isaac is also a pianist for <a href="http://tokyocomedy.com/spontaneous_confusion">Spontaneous Confabulation</a>, the resident improv comedy team of the <a href="http://tokyocomedy.com">Tokyo Comedy Store</a>.
	</p>
	<p>Isaac has recently launched his own line of bow ties <a href="http://www.boardwalkbowties.com">Boardwalk Bow Ties</a>.
	</p>
	<p>Email: <b><a href="mailto:me@isaacezer.com">me@isaacezer.com</a></b></p>
</div>