<div id="NewGig">
	<h3>
		<%= render :partial => "event_summary", :locals => {:event => @next_event } %>
	</h3>
</div>
<div id="BioHeader">
	<h2></h2>
</div>
<div id="BioBody">
	<p class="style2">I'm a programmer living in New York City.</p>
	<p>By day I work as a technologist at <b><a href="http://to.be">to.be</a></b>, by night I swing dance and sit in at jazz clubs around the city.</p>
	<p>I recently lived in Tokyo and ran a jazz band that played at swing dance festivals all around Asia, including:
	  <ul>
	    <li><a href="http://www.campswingit.com">Camp Swing It in Seoul Korea</a></li>
	    <li><a href="http://www.hkswingfestival.com">Hong Kong Swing Festival</a></li>
	    <li><a href="http://www.greatwallswingout.com">Great Wall Swing Out</a></li>
	    <li><a href="http://mechakuchaswing.main.jp/ole_2011/OLE2011.html">Osaka Lindy Exchange</a></li>
	  </ul>
	  Check out video of us playing for the <a href="http://www.youtube.com/watch?v=yiV7caPXssc&feature=youtu.be">Korean Lindy Hop Championships</a>.
	</p>

	<p>I used to back up improv comedians on the piano at the <a href="http://tokyocomedy.com/improvazilla_mainstage_show">Tokyo Comedy Store</a>, and I once jumped off a <a href="http://www.youtube.com/watch?v=bAVA8xg6qTE">168m bridge in Nepal.</a></p>

	<p>Email: <b><a href="mailto:me@isaacezer.com">me@isaacezer.com</a></b></p>
</div>
<div id="follow">
<!-- AddThis Follow BEGIN -->
<p>Follow Me</p>
<div class="addthis_toolbox addthis_32x32_style addthis_default_style">

<a href="http://www.github.com/iezer"
        class="addthis_button"
        style="text-decoration:none;">
        <%= image_tag 'github.png', :width => '38', :height =>'32' %>
</a>
  <a class="addthis_button_twitter_follow" addthis:userid="isaacezer"></a>
  <a class="addthis_button_linkedin_follow" addthis:userid="isaacezer"></a>
  <a class="addthis_button_tumblr_follow" addthis:userid="iezer"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-523f2ff72a8af3db"></script>
<!-- AddThis Follow END -->

</div>
