<div id="NewGig"> 
	<h3>
		<%= render :partial => "event_summary", :locals => {:event => @next_event } %>
	</h3> 
</div>
<div id="JapanBioHeader">
	<p class="style2"> Ｉｓａａｃ Ｅｚｅｒはジャズピアニストで、<br />
	  スウィングダンサーでもあり、ソフトウェア開発者でもあります。</p>
</div>
<div id="JapanBioBody">
  <p>Isaac はネパールで学生に<a href="http://en.wikipedia.org/wiki/Stride_piano">ストライドピアノ</a>を、バリではダンサーに<a href="http://en.wikipedia.org/wiki/Lindyhop">リンディー・ホップ</a>を教えた経験があります。<br />
    そして、過去に一度だけ、<a href="http://www.youtube.com/watch?v=bAVA8xg6qTE"> １６８ｍの高さのある橋から</a>飛び降りるという経験もしたことがあります。</p>
  <p>Isaac の情熱はスイングダンサーのためにミュージックを演奏することです。そして、トロント（出身地）や東京（現在の居住地）、大阪および北京で様々なバンドと共に活動を行っています 2011年３月韓国のソウルの<a href="http://www.campswingit.com">Camp Swing It</a>で2泊を演奏します。</p>
  <p>東京でダンスを推進するために、アイザックは<a href="http://www.iswingtokyo.com">I Swing Tokyo</a>と密接に連携しています。</p>
	<p>メール: <b><a href="mailto:me@isaacezer.com">me@isaacezer.com</a></b></p>
  </div>
</div>
