<div id="NewGig">
	<h3>
		<%= render :partial => "event_summary", :locals => {:event => @next_event } %>
	</h3>
</div>

<div id="BioHeader">
	<h2></h2>
</div>
<div id="BioBody">
  <p class="style2">I'm a technologist living in New York City.</p>

  <p>
    I work as a consultant at <b><a href="http://201-created.com">201 Created</a></b> and I love working with companies that are doing interesting things with the web, <br>particularly with <b><a href="http://emberjs.com">Ember</a></b>.
  </p>
  <p>In my free time I take in as much jazz, swing dancing, and improv comedy as I possibly can.</p>
  <p>I built a website <b><a href="http://splanky.net">splanky.net</a></b> to show a social graph of New York's jazz scene.</p>
  <p>I used to live in Tokyo and played piano with a swing band that played at festivals such as the <a href="http://www.youtube.com/watch?v=yiV7caPXssc&feature=youtu.be">Korean Lindy Hop Championships</a> and <a href="http://mechakuchaswing.main.jp/ole_2011/OLE2011.html">Osaka Lindy Exchange.</a>
  </p>
  <p>Check out video of me jumping off a <a href="http://www.youtube.com/watch?v=bAVA8xg6qTE">168m bridge in Nepal!</a></p>

  <p>You can find me on <a href="http://www.twitter.com/isaacezer">Twitter</a>, <a href="http://github.com/iezer">GitHub</a>, and <a href="http://www.linkedin.com/in/isaacezer">LinkedIn</a>.</p>

  <p>Email: <b><a href="mailto:me@isaacezer.com">me@isaacezer.com</a></b></p>
</div>
