<h1>Listing events</h1>

<h2>Coming Up</h2>
<table>
  <tr>
    <th>When?</th>
		<th>What?</th>
    <th>Where?</th>
    <th>Who?</th>
  </tr>

<%= render :partial => "events_list", :locals => {:events => @future_events} %>
</table>

<h2>Past Gigs</h2>
<table>
  <tr>
    <th>When?</th>
		<th>What?</th>
    <th>Where?</th>
    <th>Who?</th>
  </tr>

<%= render :partial => "events_list", :locals => {:events => @past_events} %>
</table>
<br />

<% 	if current_user.try(:admin?) %>
	<%= link_to 'New Event', new_event_path %>
<% end %>