// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#box {
position: absolute;
height: 100px;
width: 422px;
left: 375px;
top: 130px;
}

#map {
	position: relative;
	width: 400px; 
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}