#btnConcerts a {
  background: transparent image-url("en/Schedule.jpg") no-repeat;
  position: absolute;
  height: 28px;
  width: 102px;
  left: 340px;
  top: 55px; }

#btnConcerts a:hover {
  background: transparent image-url("en/Schedule_Hover.jpg") no-repeat; }

#btnClips a {
  background: image-url("en/Clips.jpg") no-repeat;
  position: absolute;
  height: 28px;
  width: 74px;
  left: 472px;
  top: 55px; }

#btnClips a:hover {
  background: image-url("en/Clips_Hover.jpg") no-repeat; }

#btnFavorite a {
  background: image-url("en/Clubs.jpg") no-repeat;
  position: absolute;
  height: 28px;
  width: 208px;
  left: 576px;
  top: 55px; }

#btnFavorite a:hover {
  background: image-url("en/Clubs_Hover.jpg") no-repeat; }

#English a {
  position: absolute;
  height: 21px;
  width: 47px;
  left: 730px;
  top: 95px;
  background: image-url("en/Language.jpg") no-repeat; }

#divider {
  position: absolute;
  height: 21px;
  width: 22px;
  left: 780px;
  top: 95px;
  background: image-url("en/Divider.jpg") no-repeat; }

#Japanese a {
  position: absolute;
  height: 21px;
  width: 50px;
  left: 805px;
  top: 95px;
  background: transparent image-url("ja/Language_Hover.jpg") no-repeat; }

#Japanese a:hover {
  background: transparent image-url("ja/Language.jpg") no-repeat; }
