#btnConcerts a {
	background: transparent url("ja/Concerts.jpg") no-repeat;
	position: absolute;
	height: 28px;
	width: 102px;
	left: 340px;
	top: 55px;
}

#btnConcerts a:hover  {
	background: transparent url("ja/Concerts_Hover.jpg") no-repeat;
}

#btnClips a {
	background: transparent url("ja/Clips.jpg") no-repeat;
	position: absolute;
	height: 28px;
	width: 85px;
	left: 472px;
	top: 55px;
}

#btnClips a:hover {
	background: transparent url("ja/Clips_Hover.jpg") no-repeat;
}

#btnFavorite a {
	background: transparent url("ja/Clubs.jpg") no-repeat;
	position: absolute;
	height: 28px;
	width: 208px;
	left: 576px;
	top: 55px;
}

#btnFavorite a:hover {
	background: transparent url("ja/Clubs_Hover.jpg") no-repeat;
}

#divider {
	position: absolute;
	height: 21px;
	width: 22px;
	left: 780px;
	top: 95px;
	background: transparent url("en/Divider.jpg") no-repeat;
}

#English a {
	position: absolute;
	height: 21px;
	width: 47px;
	left: 730px;
	top: 95px;
	background: transparent url("en/Language_Hover.jpg") no-repeat;
}

#English a:hover {
	background: transparent url("en/Language.jpg") no-repeat;
}

#Japanese a {
	position: absolute;
	height: 21px;
	width: 50px;
	left: 805px;
	top: 95px;
	background: transparent url("ja/Language.jpg") no-repeat;
}

#logo img {
	position: absolute;
	height: 8%;
	width: auto;
	left: 20px;
	top: 40px;
	min-height: 46px;
}

#JapanBioHeader {
	position: relative;
}

#JapanBioBody {
	position: relative;
	z-index: 110;
}